.main-content {
	background: #C1C1C1;
	&_filters {
		background: #cccccc;
	}
}

.filters {
	padding: 0;
	&__title {
		margin-top: 79px;
		margin-bottom: 19px;
		padding: 0;
	}
	&__title-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title-icon {
		margin-right: 4px;
	}
	&__title-text {
		font-weight: 500;
		font-size: 18px;
		color: white;
	}

	&__form {
		padding: 0 16px;
	}
	&__form-col {

	}
	&__input-holder {
		max-width: 315px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 13px;
		&:last-child {
			margin-bottom: 0;
		}

		.item-md, .item-ios {
			background: none;
			margin: 0;
			padding: 0;
			display: block;
			border: none;

			.item-inner {
				padding: 0;
				margin: 0;
				border: none;
			}
		}
	}
	&__select {
		background: white;
		border-radius: 8px;
		height: 32px;
		padding: 0 13px 0 42px;
		width: 100%;
		max-width: 100%;
		align-items: center;

		&_type {
			background: white url(../assets/icon-type.svg) no-repeat 13px center;
		}
		&_area {
			background: white url(../assets/icon-area.svg) no-repeat 13px center;
		}

		.select-text {
			font-size: 17px;
			color: #888888;
			line-height: 32px;
			margin: 0;
		}
		.select-icon {

		}
	}
	&__input {
		background: white;
		border-radius: 8px;
		height: 32px;
		padding: 0;
		&_type {
			background: white url(../assets/icon-type.svg) no-repeat 13px center;
		}

		input {
			text-align: center;
			font-size: 17px;
			color: #888888;
			line-height: 32px;
			margin: 0;
		}
	}
	&__button {
		margin: 0;
		background: transparent;
		border: 3px solid #FFFFFF;
		color: white;
		border-radius: 8px;
		display: block;
		width: 100%;
		height: 32px;

		font-size: 16px;
		text-transform: none;
		&:active {
			background: darken(white, 20%);
		}
	}

	&__range.range-ios, &__range.range-md {
		padding: 8px;
		padding-top: 10px;
		.range-tick {
			background: #B2B2B2;
			height: 4px;
			border-radius: 2px;
			top: 21px;
			margin-left: -1px;
			width: 2px;
		}
		.range-tick {
			background: #B2B2B2;
			height: 4px;
			border-radius: 2px;
			border: none;
			&-active {
				background: white;
			}
		}
		.range-knob {
			background: white;
			width: 12px;
			height: 15px;
			background: white;
			border-radius: 3px;
			top: 15px;
			box-shadow: none;
			transform: none;
			left: 12px;
		}
		.range-bar-active {
			background: white;
		}
		.range-knob-min .range-knob {
			border: none;
		}
		.range-pin {
			background: none;
			font-size: 16px;
			transform: none;
			padding: 8px 0;
			color: white;
			&:before {
				display: none;
			}
		}
		.range-knob-min .range-pin {
			background: none;
			&:before {
				display: none;
			}
		}
	}
}
