<ion-header>
	<ion-navbar padding>
		<!-- <span class="navbar__cancel" (click)="dismiss()">Отмена</span> -->
		<ion-title text-center>
			Фильтры
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="main-content main-content_filters">
	<ion-grid class="filters">
		<ion-row>
			<ion-col class="filters__title">
				<div class="filters__title-wrap">
					<img src="assets/logo.svg" class="filters__title-icon">
					<div class="filters__title-text">{{i12n.filters_title}}</div>
				</div>
			</ion-col>
		</ion-row>

		<ion-row class="filters__form">
			<ion-col>
				<div class="filters__input-holder">
					<ion-item>
						<ion-select [(ngModel)]="type" class="filters__select filters__select_type">
							<ion-option value="house">{{i12n.filters_house}}</ion-option>
							<ion-option value="apartment">{{i12n.filters_apartment}}</ion-option>
						</ion-select>
					</ion-item>
				</div>
				<div class="filters__input-holder">
					<ion-item>
						<ion-select [placeholder]="i12n.filters_choose_city" [(ngModel)]="city"
									class="filters__select filters__select_area" (ionCancel)="onCityCancel()">
							<ion-option *ngFor="let item of cities" [value]="item.id"
										(ionSelect)="onCityChange($event)">{{item.name}}
							</ion-option>
						</ion-select>
					</ion-item>
				</div>
				<div class="filters__input-holder" *ngIf="(city && districts.length > 0)">
					<ion-item>
						<ion-select [(ngModel)]="district" class="filters__select filters__select_area">
							<ion-option value="0" selected>{{i12n.filters_any_district}}</ion-option>
							<ion-option *ngFor="let item of districts" [value]="item.id">{{item.name}}</ion-option>
						</ion-select>
					</ion-item>
				</div>
				<div class="filters__input-holder">
					<ion-range min="2000" max="30000" pin="true" step="100" dualKnobs="true" snaps="true"
							   [(ngModel)]="price" class="filters__range">
					</ion-range>
				</div>
				<div class="filters__input-holder">
					<button class="filters__button" (click)="onButtonClick()" [disabled]="(!city)">{{i12n.filters_submit}}</button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
