.item-screen {
	padding: 0;

	.scroll-content {
		display: flex;
		flex-direction: column;
	}
}

.item {
	&__slider {
		position: relative;
	}
	&__slides {
		height: auto;
		img {
			max-width: 100%;
		}
		.swiper-pagination-bullet {
			width: 7px;
			height: 7px;
			background: #B9B9B9;
			border: 1px solid #FFFFFF;
			&-active {
				background: #FFFFFF;
				border: 1px solid #979797;
			}
		}
	}
	&__image-wrapper {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 55%;
	}
	&__image-wrap {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&__image {
		max-width: 100%;
	}
	&__image-placeholder {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #F37474;
	}
	&__image-shadow {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0) 29%, rgba(0, 0, 0, 0) 100%);
	}
	&__image-price {
		position: absolute;
		left: 31px;
		top: 8px;
		font-weight: bold;
		font-size: 20px;
		color: white;
		z-index: 20;
	}

	&__image-like {
		position: absolute;
		right: 31px;
		top: 8px;
		text-align: right;
		z-index: 20;
	}
	&__image-like-icon {
		font-size: 30px;
		color: white;
		&_active {
			color: #F37474;
		}
	}

	&__title-line {
		display: flex;
		align-items: flex-end;
		padding: 10px 28px;
	}
	&__title {
		flex-basis: 70%;
		font-weight: 500;
		line-height: 1.1;
		font-size: 17px;
		color: #3E3E3E;
		padding-right: 10px;
		margin: 0;
	}
	&__date {
		flex-basis: 30%;
		font-weight: normal;
		font-size: 15px;
		color: #1B1B1B;
		white-space: nowrap;
	}

	&__ch {
		background: #E2E0E0;
		padding: 12px 28px;
		display: flex;
		flex-wrap: wrap;
	}
	&__ch-item {
		flex-basis: 50%;
		padding-right: 10px;
		font-weight: normal;
		font-size: 13px;
		color: black;
		&:nth-child(n+3) {
			margin-top: 10px;
		}
	}

	&__description {
		font-weight: normal;
		line-height: 1.25;
		font-size: 15px;
		color: #1B1B1B;
		flex-grow: 20;
		.scroll-content {
			padding: 20px 28px;
		}
	}

	&__footer {
		background: #E2E0E0;
		padding: 0;
		min-height: 50px;
		display: flex;
	}
	&__footer-button-wrapper {
		background: #F37474;
		position: relative;
		height: 50px;
		justify-content: center;
		display: inline-flex;
		align-items: center;
		padding: 0 10px;
		&:after {
			content: "";
			position: absolute;
			left: 100%;
			border: 25px solid #F37474;
			border-right-color: transparent;
			border-bottom-color: transparent;
		}
	}
	&__footer-button {
		text-align: center;
		border: 2px solid white;
		border-radius: 8px;
		padding: 4px 18px;
		margin: 0;
	}
	&__footer-button-phone {
		color: white;
		font-weight: bold;
		font-size: 17px;
		margin-right: 9px;
	}
}
