<ion-header>
	<ion-navbar>
		<!-- <div class="navbar__back" (click)="back()">
			<ion-icon name="arrow-back" class="navbar__back-icon"></ion-icon>
			<span class="navbar__back-text">Назад</span>
		</div> -->
	</ion-navbar>
</ion-header>

<ion-content class="item-screen">
	<div class="item__slider">
		<ion-slides class="item__slides" pager>
			<ion-slide *ngFor="let image of item.images">
				<div class="item__image-wrapper">
					<div class="item__image-wrap">
						<img [src]="image" class="item__image">
						<div class="item__image-shadow"></div>
					</div>
				</div>
			</ion-slide>
			<ion-slide *ngIf="item.images.length < 1">
				<div class="item__image-wrapper">
					<div class="item__image-wrap">
						<div class="item__image-placeholder"></div>
						<div class="item__image-shadow"></div>
					</div>
				</div>
			</ion-slide>
		</ion-slides>

		<span class="item__image-price">{{item.price}} {{i12n.object_currency}}</span>

		<a class="item__image-like" (click)="addToFavorites(item.id)" *ngIf="!item.in_favourites">
			<ion-icon name="heart-outline" class="item__image-like-icon"></ion-icon>

		</a>
		<a class="item__image-like" *ngIf="item.in_favourites">
			<ion-icon name="heart" class="item__image-like-icon item__image-like-icon_active"></ion-icon>
		</a>
	</div>


	<div class="item__title-line">
		<p class="item__title">
			{{item.name}}
		</p>
		<div class="item__date">
			{{item.date}}
		</div>
	</div>

	<div class="item__ch" *ngIf="false">
		<div class="item__ch-item">
			{{i12n.object_rooms}}: 2
		</div>
		<div class="item__ch-item">
			{{i12n.object_type}}: кирпичный
		</div>
	</div>

	<ion-scroll scrollY="true" class="item__description">
		{{item.description}}
	</ion-scroll>
</ion-content>

<ion-footer *ngIf="item.phones.length > 0">
	<ion-toolbar class="item__footer">
		<div class="item__footer-button-wrapper">
			<button ion-button outline class="item__footer-button" (click)="callNumberFunc(item.phones[0])">
				<span class="item__footer-button-phone">{{item.phones[0]}}</span>
				<img src="assets/icon-call.svg" class="item__footer-button-icon">
			</button>
		</div>
	</ion-toolbar>
</ion-footer>
