<ion-tabs>
	<ion-tab [root]="profileRoot" tabIcon="contact"></ion-tab>
	<ion-tab [root]="homeRoot" tabIcon="home" [rootParams]="{newObjectsCount: newObjectsCount}"
			 [tabBadge]="newObjectsCount"></ion-tab>
	<ion-tab [root]="favRoot" tabIcon="heart"></ion-tab>
	<ion-tab [root]="filtersRoot" tabIcon="search"></ion-tab>
</ion-tabs>
