<ion-header>
	<ion-navbar padding>
		<button ion-button class="navbar__cancel" (click)="dismiss()">{{i12n.navbar_cancel}}</button>
	</ion-navbar>
</ion-header>

<ion-content class="change-phone-screen">
	<ion-grid class="change-phone">
		<ion-row>
			<ion-col class="change-phone__title">
				<div class="change-phone__title-wrap">
					<img src="assets/logo.svg" class="change-phone__title-icon">
					<div class="change-phone__title-text">{{i12n.profile_edit_phone_title}}</div>
				</div>
			</ion-col>
		</ion-row>

		<ion-row class="change-phone__form">
			<ion-col>
				<div class="change-phone__input-holder">
					<ion-input type="tel" [(ngModel)]="user.phone" class="change-phone__input"></ion-input>
				</div>
				<div class="change-phone__input-holder">
					<button class="change-phone__button" (click)="saveChanges()">{{i12n.profile_edit_phone_submit}}</button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
