.change-phone-screen {
	background: #cccccc url(../assets/change-phone-bg.png) no-repeat center bottom / contain;
}

.change-phone {
	padding: 0;
	&__title {
		margin-top: 79px;
		margin-bottom: 19px;
		padding: 0;
	}
	&__title-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title-icon {
		margin-right: 4px;
	}
	&__title-text {
		font-weight: 500;
		font-size: 18px;
		color: white;
	}

	&__form {
		padding: 0 16px;
	}
	&__form-col {

	}
	&__input-holder {
		max-width: 315px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 13px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__input {
		background: #FFFFFF url(../assets/icon-telephone-dark.svg) no-repeat 13px center;
		border-radius: 8px;
		height: 32px;
		padding: 0 40px;

		input {
			text-align: center;
			font-size: 17px;
			color: #888888;
			line-height: 32px;
			margin: 0;
		}
	}
	&__button {
		margin: 0;
		background: transparent;
		border: 3px solid #FFFFFF;
		color: white;
		border-radius: 8px;
		display: block;
		width: 100%;
		height: 32px;

		font-size: 16px;
		text-transform: none;
		&:active {
			background: darken(white, 20%);
		}
	}
}
