.main-content {
	background: #C1C1C1;
}

.profile {
	padding: 0;
	&__avatar {
		padding: 16px 0;
		display: flex;
		justify-content: center;
	}
	&__avatar-wrapper {
		position: relative;
		width: 136px;
		height: 136px;
		align-self: center;
	}
	&__avatar-image {
		width: 136px;
		height: 136px;
	}
	&__avatar-badge {
		width: 28px;
		height: 42px;
		position: absolute;
		right: 5px;
		bottom: -5px;
	}

	&__name {
		background: #D8D8D8;
		height: 27px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 18px;
		font-weight: 500;
	}

	&__list {
		padding: 28px 0 28px 26px;
		border: 0.5px solid #FFFFFF;
		border-style: solid none;
	}
	&__item {
		display: flex;
		margin-bottom: 7px;
		align-items: flex-start;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item-image {
		width: 22px;
		text-align: center;
		margin-top: 4px;
		margin-right: 17px;
	}
	&__item-icon {
		max-width: 100%;
	}
	&__item-text {
		flex-grow: 25;
		font-weight: 500;
		font-size: 17px;
		border-bottom: 1px solid white;
		color: white;
		padding-bottom: 8px;

		.profile__item:last-child & {
			border-bottom: 0;
		}
	}
}