<ion-header>
	<ion-navbar>
		<ion-title text-center>
			{{i12n.profile_title}}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="main-content">
	<ion-grid class="profile">
		<ion-row>
			<ion-col class="profile__avatar">
				<div class="profile__avatar-wrapper">
					<img src="assets/avatar.png" class="profile__avatar-image">
					<img src="assets/avatar-badge.png" class="profile__avatar-badge">
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="profile__name">
				{{user.name}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="profile__list">
				<a class="profile__item" (click)="openChangePhoneModal()">
					<div class="profile__item-image">
						<img src="assets/icon-telephone.svg" class="profile__item-icon profile__item-icon_phone">
					</div>
					<div class="profile__item-text">{{i12n.profile_edit_phone}}</div>
				</a>
				<!-- <a class="profile__item" (click)="openFiltersModal()">
					<div class="profile__item-image">
						<img src="assets/icon-settings.svg" class="profile__item-icon profile__item-icon_settings">
					</div>
					<div class="profile__item-text">Настройки фильтра</div>
				</a>
				<div class="profile__item">
					<div class="profile__item-image">
						<img src="assets/icon-heart.svg" class="profile__item-icon profile__item-icon_favourite">
					</div>
					<div class="profile__item-text">Избранное</div>
				</div> -->
				<a class="profile__item" (click)="openPushModal()">
					<div class="profile__item-image">
						<img src="assets/icon-bell.svg" class="profile__item-icon profile__item-icon_push">
					</div>
					<div class="profile__item-text">{{i12n.profile_edit_push}}</div>
				</a>

				<a class="profile__item" (click)="confirmDelete()" *ngIf="showErase">
					<div class="profile__item-image">
						<img src="assets/icon-bell.svg" class="profile__item-icon profile__item-icon_push">
					</div>
					<div class="profile__item-text">Сбросить все</div>
				</a>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
