<ion-content class="registration-screen">
	<ion-grid class="registration">
		<ion-row class="registration__welcome">
			<ion-col>

				<!--TITLE-->
				<div class="registration__title-wrap">
					<img src="assets/logo.svg" class="registration__title-logo">
					<div class="registration__title-text">
						Superealtor
					</div>
				</div>
				<!--/TITLE-->

				<div class="registration__welcome-text">
					{{i12n.welcome_text}}
				</div>
			</ion-col>
		</ion-row>

		<ion-row class="registration__form">
			<ion-col>
				<div class="registration__input-holder">
					<ion-input type="text" [(ngModel)]="user.name" [placeholder]="i12n.form_name"
							   class="registration__input"></ion-input>
				</div>
				<div class="registration__input-holder">
					<ion-input type="tel" [(ngModel)]="user.phone" [placeholder]="i12n.form_phone"
							   class="registration__input"></ion-input>
				</div>
				<div class="registration__input-holder">
					<button ion-button block class="registration__button" (click)="signup()" [disabled]="!user.phone || !user.name">{{i12n.form_next}}</button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
