.registration-screen {
	background: #d2d2d2 url(../assets/registration-bg.png) no-repeat center bottom;
	background-size: 100% auto;
}

.registration {
	padding: 0;
	&__welcome {
		padding: 27px 54px;
		background: #F37474;
	}
	&__title-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 16px;
	}
	&__title-logo {
		margin-right: 10px;
	}
	&__title-text {
		font-weight: 700;
		font-size: 38px;
		color: white;
	}

	&__welcome-text {
		color: white;
		font-size: 19px;
		line-height: normal;
	}

	&__form {
		padding: 25px 54px 0;
	}
	&__form-col {

	}
	&__input-holder {
		max-width: 315px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 13px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__input {
		background: white;
		border-radius: 8px;
		height: 32px;
		padding: 0;

		input {
			text-align: left;
			font-size: 17px;
			color: #888888;
			line-height: 32px;
			margin: 0;
			padding: 0 25px;
		}
	}
	&__button {
		margin: 0;
		border: none;
		color: white;
		border-radius: 14px;
		background: #F37474;
		padding: 0;
		box-shadow: none;

		font-size: 16px;
		text-transform: none;
		&:disabled {
			background: #BDBDBD;
			opacity: 1;
		}
		&.button-ios {
			padding: 0;
			height: 38px;
			border-radius: 14px;
		}
	}
}
