<ion-header>
	<ion-navbar>
		<ion-title text-center>{{i12n.objects_title}}</ion-title>
	</ion-navbar>

	<!--NAV-->
	<div class="items-nav">
		<div class="items-nav__all">
			{{i12n.objects_total}}
			&nbsp;
			&nbsp;
			{{objects.length}}
		</div>
		<div class="items-nav__new">
			{{i12n.objects_new}}
			&nbsp;
			&nbsp;
			{{newObjectsCount}}
		</div>
	</div>
	<!--/NAV-->
</ion-header>

<ion-content class="items-screen">
	<div class="items">
		<a [ngClass]="{'items__item': true, 'items__item_new': !item.is_viewed}"
		   *ngFor="let item of objects"
		   (click)="openObject(item.id)"
		   in-viewport
		   [inViewportOptions]="{ rootElement: scrollContent, partial: false }"
		   (inViewportAction)="markAsViewed($event, item.id, item.is_viewed)"
		>
			<div class="items__item-wrap">
				<img src="{{item.images[0]}}" alt="" class="items__item-image">
				<div class="items__item-shadow"></div>
				<span class="items__item-price">{{item.price}} грн.</span>
				<span class="items__item-not-viewed">{{i12n.object_new}}</span>
				<p class="items__item-title">
					{{item.name}}
				</p>
				<button class="items__item-like" (click)="addToFavorites(item.id); $event.stopPropagation();"
						*ngIf="!item.in_favourites">
					<ion-icon name="heart-outline" class="items__item-like-icon"></ion-icon>
				</button>
				<button class="items__item-like" *ngIf="item.in_favourites">
					<ion-icon name="heart" class="items__item-like-icon items__item-like-icon_active"></ion-icon>
				</button>
			</div>
		</a>
	</div>

	<ion-infinite-scroll (ionInfinite)="loadRecentItems($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>
