.items-screen {
	padding: 0;
}

.items-nav {
	display: flex;
	width: 100%;
	&__all {
		width: calc(50% + 25px);
		background: #E2E0E0;
		height: 50px;
		text-align: center;
		color: #585858;
		font-size: 12px;
		font-weight: 500;
		line-height: 50px;
		padding-right: 20px;
		white-space: nowrap;
	}
	&__new {
		flex-grow: 10;
		background: #F37474;
		height: 50px;
		text-align: center;
		color: white;
		font-size: 12px;
		font-weight: 500;
		line-height: 50px;
		position: relative;
		padding-right: 12.5px;
		white-space: nowrap;
		&:after {
			content: "";
			position: absolute;
			right: 100%;
			border: 25px solid #F37474;
			border-left-color: transparent;
			border-top-color: transparent;

		}
	}
}

.items {
	&__item {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 55%;
		display: block;
		overflow: hidden;
	}
	&__item-wrap {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&__item-image {
		width: 100%;
	}
	&__item-shadow {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0) 29%, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 0.51) 80%, rgba(0, 0, 0, .9) 100%);
	}
	&__item-price {
		position: absolute;
		left: 31px;
		top: 8px;
		font-weight: bold;
		font-size: 20px;
		color: white;
	}
	&__item-not-viewed {
		position: absolute;
		left: 31px;
		top: 38px;
		font-weight: bold;
		font-size: 14px;
		color: white;
		padding: 5px;
		background: #F37474;
		opacity: 0;
		visibility: hidden;
		transition: all .5s ease-in-out;
		.items__item_new & {
			visibility: visible;
			opacity: 1;
		}
	}
	&__item-title {
		line-height: normal;
		font-size: 15px;
		color: white;
		position: absolute;
		bottom: 20px;
		left: 31px;
		right: 31px;
		margin: 0;
	}
	&__item-like {
		position: absolute;
		right: 31px;
		top: 8px;
		text-align: right;
		padding: 0;
		padding-left: 2px;
		background: none;
		border: none;
	}
	&__item-like-icon {
		font-size: 30px;
		color: white;
		&_active {
			color: #F37474;
		}
	}

	&__item-unlike {
		position: absolute;
		right: 31px;
		top: 8px;
		text-align: right;
		padding: 0;
		background: none;
		border: none;
	}
	&__item-unlike-icon {
		font-size: 30px;
		color: white;
	}
}
