<ion-header>
	<ion-navbar padding>
		<button ion-button class="navbar__cancel" (click)="dismiss()">{{i12n.ok}}</button>
	</ion-navbar>
</ion-header>

<ion-content class="main-content main-content_push">
	<ion-grid class="push-settings">
		<ion-row>
			<ion-col class="push-settings__title">
				<img src="assets/push-title.svg" class="push-settings__title-icon">
			</ion-col>
		</ion-row>

		<ion-row class="push-settings__form">
			<ion-col>
				<div class="push-settings__switch-holder">
					<span class="push-settings__switch-label">{{i12n.profile_push_title}}</span>
					<ion-toggle [(ngModel)]="user.push" (ionChange)="saveChanges()"
								class="push-settings__switch"></ion-toggle>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
