.main-content {
	background: #C1C1C1;
	&_push {
		background: #cccccc url(../assets/push-bg.png) no-repeat right bottom;
		background-size: cover;
	}
}

.push-settings {
	padding: 0;
	&__title {
		padding: 0;
		margin-top: 28px;
		margin-bottom: 64px;
		display: flex;
		justify-content: center;
	}

	&__form {

	}
	&__switch-holder {
		display: flex;
		justify-content: space-between;
		padding-left: 26px;
		padding-right: 26px;
		align-items: center;
	}
	&__switch-label {
		font-weight: 500;
		font-size: 16px;
		color: white;
	}
	&__switch.toggle-md, &__switch.toggle-ios {
		min-width: 50px;
		height: 30px;
		padding: 0;
		box-sizing: border-box;
		transform: none;

		.toggle-icon {
			height: 30px;
			background: #D8D8D8;
			border-radius: 15px;

			&:before {
				display: none;
			}
		}
		.toggle-inner {
			width: 28px;
			height: 28px;
			left: 0;
			top: 1px;
			background: white;
			box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.1);
			transform: translate3d(1px, 0, 0);
		}
		&.toggle-checked {
			.toggle-icon {
				background: #F37474;
			}
			.toggle-inner {
				transform: translate3d(21px, 0, 0);
			}
		}
	}
}