<ion-header>
	<ion-navbar padding>
		<span class="navbar__cancel" (click)="dismiss()">{{i12n.navbar_cancel}}</span>
	</ion-navbar>
</ion-header>

<ion-content class="activation-screen">
	<ion-grid class="activation">
		<ion-row class="activation__top">
			<ion-col>

				<!--TITLE-->
				<div class="activation__title-wrap">
					<img src="assets/logo.svg" class="activation__title-logo">
					<div class="activation__title-text">
						Superealtor
					</div>
				</div>
				<!--/TITLE-->

			</ion-col>
		</ion-row>

		<ion-row class="activation__texts">
			<ion-col>
				<h2 class="activation__subtitle">{{i12n.activation_title}}</h2>
				<div class="activation__text">
					{{i12n.activation_text}}
				</div>
			</ion-col>
		</ion-row>

		<ion-row class="activation__form">
			<ion-col>
				<div class="activation__input-holder activation__input-holder_checkbox">
					<ion-checkbox [(ngModel)]="agree" class="activation__checkbox"></ion-checkbox>
					<span class="activation__checkbox-label">
						{{i12n.activation_agree}}
					</span>
				</div>
				<div class="activation__input-holder">
					<ion-input type="number" [placeholder]="i12n.activation_code" [(ngModel)]="activationCode"
							   class="activation__input"></ion-input>
				</div>
				<div class="activation__input-holder">
					<button ion-button block class="activation__button" (click)="activate()" [disabled]="!agree">
						{{i12n.activation_next}}
					</button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
