.activation-screen {
	background: #C1C1C1;
}

.activation {
	padding: 0;

	&__top {
		padding: 31px;
		background: #F37474;
		ion-col {
			padding: 0;
		}
	}
	&__title-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title-logo {
		margin-right: 10px;
	}
	&__title-text {
		font-weight: 700;
		font-size: 38px;
		color: white;
	}

	&__texts {
		padding: 31px 31px 0;
		ion-col {
			padding: 0;
		}
	}
	&__subtitle {
		font-weight: bold;
		font-size: 20px;
		text-align: center;
		color: white;
		margin-bottom: 17px;
	}
	&__text {
		font-weight: 500;
		line-height: normal;
		font-size: 16px;
		text-align: center;
		color: white;
		margin-bottom: 10px;
	}

	&__form {
		padding: 0 54px;
	}
	&__form-col {

	}
	&__input-holder {
		max-width: 315px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 13px;
		&:last-child {
			margin-bottom: 0;
		}
		&_checkbox {
			display: flex;
			justify-content: space-between;
		}
	}
	&__input {
		background: white;
		border-radius: 8px;
		height: 32px;
		padding: 0;

		input {
			text-align: center;
			font-size: 17px;
			color: #888888;
			line-height: 32px;
			margin: 0;
			padding: 0 25px;
		}
	}
	&__button {
		margin: 0;
		border: none;
		color: white;
		border-radius: 14px;
		background: #F37474;
		padding: 0;
		box-shadow: none;

		font-size: 16px;
		text-transform: none;
		&:disabled {
			background: #BDBDBD;
		}
	}

	&__checkbox.checkbox-md, &__checkbox.checkbox-ios {
		float: none;
		display: block;
	}

	&__checkbox-label {
		font-weight: 500;
		line-height: normal;
		font-size: 11px;
		text-align: center;
		color: white;
		text-align: center;
		flex-grow: 20;
	}
}
