<ion-header>
	<ion-navbar>
		<ion-title text-center>{{i12n.fav}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="items-screen">

	<!--ITEMS-->
	<div class="items">
		<a class="items__item" *ngFor="let item of objects" (click)="openObject(item.id)">
			<div class="items__item-wrap">
				<img src="{{item.images[0]}}" alt="" class="items__item-image">
				<div class="items__item-shadow"></div>
				<span class="items__item-price">{{item.price}} {{i12n.object_currency}}</span>
				<p class="items__item-title">
					{{item.name}}
				</p>
				<button class="items__item-unlike"
						(click)="removeFromFavourites(item.id); $event.stopPropagation();">
					<ion-icon name="close" class="items__item-unlike-icon"></ion-icon>
				</button>
			</div>
		</a>
	</div>
	<!--/ITEMS-->

	<ion-infinite-scroll (ionInfinite)="loadRecentItems($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
